html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    div.cohorts_container
      each cohort in cohorts
        a(class='cohort_link' href=`cohorts/${cohort}`) #{cohort}
