html
  head
    link(rel= 'stylesheets' href= 'sytling.css')
  body
    div.cohorts
      each cohort in cohorts
        form(method='GET' action=`cohorts/${cohort}`)
          button.btn.btn-secondary(type='submit') #{cohort}
