html
  head
    link(rel= 'stylesheets' href= 'sytling.css')
  body
    div.cohorts
      form(method='GET' action='/october')
        button.btn.btn-primary(type='submit') October

      form(method='GET' action='/november')
        button.btn.btn-primary(type='submit') November

      form(method='GET' action='/november')
        button.btn.btn-primary(type='submit') December
