html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src='/javascripts/random_student.js')
    title= title
  body
    div.center
      button.btn.btn-secondary(type='submit', id='pick_a_student') Pick a student
      ul
        each student in cohort
          li(id=`${student.replace(/ /g, '')}`)= student
